* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

.column {
    float: left;
    margin: 0 1%;
    height: 500px;
}

.half.column  {
    width: 48%;

}

.one.column  {
    width: 98%;
}
/*** fine layout base ***/

/*** inizio header ***/
header {
    background-color: white;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-left {
    width: 25%;
    float: left;
    line-height: 67px;
}

#logo {
    position: relative;
    height: 14px;
}

.header-right {
    width: 75%;
    height: 67px;
    float: right;
}

/*** inizio menu ***/

#main-menu {
    list-style-type: none;
    float: right;
}

#main-menu li {
    float: left;
}

#main-menu li:not(.language) {
    margin-right: 24px;
}

/* alternativa con i bordi per fare le righe verticali che separano le lingue
#main-menu li.language a {
    padding: 5px;
}

#main-menu li.language:nth-child(7) a {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
*/

#main-menu li.language:not(:last-child)::after {
    content: '|';
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
}

#main-menu li a {
    font-size: 12px;
    line-height: 67px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
/*** fine menu ***/
/*** fine header ***/

/*** inizio jumbotron ***/
#jumbo {
    height: 560px;
    background-image: url('https://www.helbiz.com/asset/pages/newhome/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 67px;
    position: relative;
}

#jumbo-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.jumbo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.jumbo-text h1 {
    font-size: 40px;
}

.jumbo-text p {
    margin: 12px 0;
}
/*** fine jumbotron ***/

/*** inizio altre sezioni ... ***/
#second {
    margin-top:100px;
    margin-bottom: 240px;
}
#left{
    margin-right: 3%;
}
.product {

    padding: 50px;
    text-align: center;
    font-weight: 100;
    background-color: #FAFAFA;
}

.product h1{
    font-size: 34px;
    font-weight: 100;
    text-transform: uppercase;
}

.product h1  span {
    letter-spacing: 10px;
    font-weight: bold;

}

.product p{
    padding: 20px 0;
    font-size: 22px;

}
.blue{
    color: #0070C8;
}
.white{
    color: white;
}
a.learnMore{
    font-size: 20px;

    text-decoration: none;
    position: relative;
}
a.learnMore.blue::after{
    content: url('https://www.helbiz.com/asset/pages/newhome/images/Arrow.svg');
    width: 50px;
    position: absolute;
    top: 0;
    right: -40px;

}

.product a:hover{

    text-decoration: underline;
}

.product img {
    max-width: 200px;
    padding: 15px 0;
}
/* iPhoneSlider */
#mainPhoneSlider{
    position: relative;
}
.upMainPhoneSlider{

    height: 500px;
    background-color: red;
    background-image: url('https://helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.downMainPhoneSlider{
    width: 70%;
    margin: 0px auto;

}

.downInner{
    width:25%;

    height: 210px;
    line-height: 1.1;
    position: relative;
}
#rightDownInner{
    float: right;
    padding-top: 77px;
}
#rightDownInner h3{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 22px;
}
#leftDownInner{
    float: left;
    font-size: 24px;
    padding-top: 60px;
    line-height: 1.1;
}

.phoneSliderImgContainer{
    position: relative;
}

#mainPhoneSlider img {
    position: absolute;
    max-width: 330px;
    left: 37%;
    top: 37%;
    z-index: 4;
}

#mainPhoneSlider img#slide{

    max-width: 14%;
    z-index: 3;
    left: 41.5%;
    top: 40.5%;
}

#mainPhoneSlider ul{
    position: absolute;
    left: 46%;
    top: 106%;
}
#mainPhoneSlider ul li{
    margin: 5px;
    width: 5px;
    height: 5px;
    background-color: white;
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    border: 0.5px solid black;
}

 ul li#black {
    background-color: black;
}
/* /iPhoneSlider */

/* Smart mobility */
#smartMobilityMainSection{
    padding-top: 100px;

}

#columRowFull{

    background-image: url('https://helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.textImageSmart{
    text-align: center;
    width: 23%;
    float: right;
    color: white;
    margin-right: 15%;
    padding:90px 0;
}

a.learnMore.white::after{
    content: url('https://helbiz.com/asset/pages/newhome/images/arrow-white.svg');
    width: 50px;
    position: absolute;
    top: 0;
    right: -40px;

}

#smartMobilityMainSection h1{

    font-size: 43px;
}

#smartMobilityMainSection p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.halfImage{
    color: white;
    text-align: center;

}
.halfImage #halfImageWidthLeft {
    background-image:
}
/* /Smart mobility */
